.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1900px;
  height: 56px;
  background-color: #8246bb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #162c69;
  padding-left: 20px;
}

.header nav {
  padding-right: 20px;
}
.header nav a {
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  font-weight: 500;
  text-transform: uppercase;
  padding: 16px 18px;
  transition: 0.3s;
}
.header nav a:hover {
  background-color: #9157cc;
}

.sandwitch-div {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 40px;

  position: fixed;
  top: 14px;
  right: 14px;
  z-index: 10;
  cursor: pointer;
}
.sandwitch-div div {
  width: 100%;
  height: 3px;
  background-color: #FFF;
  transition: ease-out 0.3s;
}
.sandwitch-clicked div:nth-child(2) {
  opacity: 0;
}
.sandwitch-clicked div:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.sandwitch-clicked div:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -10px);
}

@media screen and (max-width: 600px) {
  .header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #9157cc;
    transition: ease-out 0.3s;
  }
  .sandwitch-div {
    display: flex;
  }
}